.App {
  text-align: center;
  margin-top: 2em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.la {
  width: 150px;
  float: left;
  text-align: left;
  padding-right:5px;
}

.input {
  width: 100px;
}

.margin-left {
  margin-left:40px;
}

.box {
  width: 260px;
  text-align: right;
}

.right-aligned {
	text-align: left;
}